<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="namedPipeBinding" />
      </netNamedPipeBinding>
    </bindings>

    <services>
      <service name="TR.Server.CalculateService">
        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/Calculate"/>
          </baseAddresses>
        </host>
        <endpoint address="net.pipe://localhost/Calculate" binding="netNamedPipeBinding"
          bindingConfiguration="namedPipeBinding"  contract="TR.Contracts.ICalculateService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>